body {
  background-color: lightgrey;
  
}

.flex {
  display: flex;
  padding-bottom: 30px;
  flex-wrap: wrap;
  
}
.contenedor {
  display: flex;
}
.texto {
  flex: 1;
}
.texto p {
  margin: 0;
  padding: 5px 0;
}


div {
  font-family: Arial, Helvetica, sans-serif;
  font-variant-caps: small-caps;
}

img {
  padding: 4px;

}